<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Class Grade Calculator</title>

  <link rel="stylesheet" href="styles/index.css">
</head>

<body>
  <h1>GPA Class Calculator</h1>

  <div id="calculator">
    <assignment-item
      v-for="item in assignments"
      v-bind:assignment="item"
      v-bind:key="item.id">
    </assignment-item>

    <input v-model="newTask" placeholder="What do you need to do?" @keyup.enter="addTask">
    <input type="number" v-model="newGrade" placeholder="Average">

    {{ newTask }}: {{ newGrade }} <br />
    {{ total() }}
  </div>

  <script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
  <script src="scripts/index.js"></script>
</body>
</html>
